@charset "UTF-8";

@font-face {
    font-family:'idroid';
    src: url('../fontes/idroid.otf') format(opentype);
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #EBE5C5;
    margin: 0px;
}

header{
    background-image: linear-gradient(to top, rgb(22, 54, 35),rgba(45, 172, 98, 0.952));
    padding-top: 12px;
    width: 100%;
    height: 100%;   
    margin: 0px;
    min-height: 100px;
}

header > h1{
    font-family: 'Bebas Neue';
    color: white;
    text-align: center;   
    font-weight:lighter;
    font-size: 3em;
    margin-bottom: 16px;
    text-shadow: 1.5px 2px 1px rgba(0, 0, 0, 0.404);
    padding:2px;
}

header > p{
    text-align: center;
    color: white;
    font-size: 1.2em;
    padding-bottom: 50px;
    margin: auto;
    max-width: 600px;
    min-width: 300px;
    text-shadow: 1.5px 2px 1px rgba(0, 0, 0, 0.404);
    padding-left: 10px;
    padding-right: 10px;
}

nav{
   padding-left: 20px;
   padding-bottom: 10px;
   padding-top: 10px;
   background-color: #153623;
   height: 20px;
}

nav > li{   
    display: inline;
    background-color: #153623;
    text-align: left;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

nav > li > a{
    background-color: transparent;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-bottom: 20px;
    color: #83E1AD;
    transition-duration: .5s;
}

main{
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    background-color: white;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;   
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.363);
}

main p{
    text-indent: 35px;
    text-align: justify;
    line-height: 2em;   
}

img{
    width: 100%;
}

section{
    line-height: 25px;
    padding-bottom: 12px;
}

article > p > a{
    text-decoration: none;
    color: #1A5C37;
    background-color: greenyellow;
    font-weight: bolder;
}

h2{
    font-family: 'idroid',Times, serif;
    font-size: 1.8em;
    color: #063D1E;
}

article > img#android{
    width: 100%;
}

article > img#irina{
    width: 100%;
}

article > img#bugdroid{
    margin: auto;
    display: block;
    max-width: 350px;
}

article > h3#articleh3 {
    font-family:'idroid',Times, serif;
    font-size: 1.3em;
    color: #1A5C37;
    background-image: linear-gradient(to left,rgb(131, 225, 173,0) , rgb(131, 225, 173,1));
    text-indent: 10px;
}

div#video{ /* video responsivo */
    margin: 0px -20px 30px -20px;
    position: relative;
    background-color: #063D1E;
    padding: 20px; 
    padding-bottom: 59%;
}

div#video > iframe{ /*video responsivo */
    position: absolute;
    top: 5%;
    left: 5%;
    height: 90%;
    width: 90%;
}

aside{
    background-color: #83E1AD;
    border-radius: 10px;   
    padding: 10px;
}

aside> p > a{
    text-decoration: none;
    color: #1A5C37;
    background-color: #83E1AD;
    font-weight: bolder;
    
} 

aside > ul{
    list-style-position: inside;
    columns: 2;
    max-width: 980px;
    max-height: 200px;
    height: 200px;
    list-style-type: "\1F5F8\00A0";  
    padding: 0px;
}

h3#extra01{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #1A5C37;
    color: #F1FFFF;
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px;
    margin: -10px;
}

article  p.agradecimento{
    text-indent: 25px;
}

footer > p{
    text-align: center;
    margin-bottom: 0px;
    background-color: #063D1E;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: .8em;
    font-weight: bold;
}

footer > p > a{
    text-decoration: none;
    color: white;
}

.destaque{
    background-color: white;
    color: #1A5C37;
    font-weight: bolder;
}

.destaque2{
    background-color: transparent;
    color: #1A5C37;
    font-weight: bolder;
}

article > p > a{
    background-color: #83E1AD;
}

li > a:hover{
    background-color: #83E1AD;
    color: #063f1f;
    border-radius: 5px;
}

footer > p > a:hover{
    color: #83E1AD;
    text-decoration: underline;
}



